body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.pokeCardText {
  text-decoration: none;
}

.pokeCardImg {
  width: 100px;
  height: auto;
}

.pokeCard{
  margin-top: 40px;
  width: 18rem;
}

.pokeCardButton {
  margin-bottom: 20px;
  
}

.detailsCardBody {
  margin-top: 80px;
}
.navbarName {
 margin-left: 20px;
}
.mainPageContainer {
  margin-top: 80px;
}